.header{
    background-color: #fff;
    height:74px;
    
    @include clearfix;
    .header-all{
        
        .header-logo{
            float: left;
            width:40%;
            text-align: left;
            transform: translate(0px,12px);
            img{
                
                width: 22%;
                
            }
        }
        .header-content{
            float: left;
            width:60%;
            
            
            ul{
                text-align: right;
                margin-top: 20px;
                li{
                    display: inline-block;
                    
                    a{
                        color:#333;
                        display: inline-block;
                        padding: 8px 15px;
                        text-transform: uppercase;
                        border-radius: 3px;
                        font-size: 14PX;
                        font-weight: 500;
    
                        &:hover{
                            background-color: orange;
                            color:#fff;
                           
                        }
                    }
                }
            }
        }
    }
    

}